<footer class="footer">
        <p>
        &copy;
        <span class="js-year"></span> MetricSlice, LLC</p>
        <div class="aside-icons">
                <a href="tel:404-694-1204">
                    <svg class="icon">
                        <use xlink:href="#phone" />
                    </svg>
                </a>
                <a href="mailto:info@metricslice.com">
                    <svg class="icon">
                        <use xlink:href="#email" />
                    </svg>
                </a>
                <a href="http://twitter.com/thebeckyhamm">
                    <svg class="icon">
                        <use xlink:href="#twitter" />
                    </svg>
                </a>
                <a href="http://codepen.io/thebeckyhamm">
                    <svg class="icon">
                        <use xlink:href="#codepen" />
                    </svg>
                </a>
                <a href="http://github.com/thebeckyhamm">
                    <svg class="icon">
                        <use xlink:href="#github" />
                    </svg>
                </a>
            </div>
</footer>
<!-- end footer-->

<script>
    var today = new Date();
    var year = today.getFullYear();
    var el = document.querySelector(".js-year");
    el.innerHTML = el.innerHTML + year;
</script>

<!-- Javascript -->
<script src="{{ site.url }}/scripts/jquery-1.11.3.min.js"></script>
<script src="{{ site.url }}/scripts/menu.js"></script>
<script src="{{ site.url }}/scripts/moment.min.js"></script>
<!-- <script src="{{ site.url }}/scripts/sun-new.js"></script> -->