.headline {
 	color: $white;
 	display: inline-block;
 	font-size: 1.2em;
 	letter-spacing: -1px;
 	line-height: 100%;
 	margin: 0 auto;
    position: relative;
 	text-align: center;
    > * {
        max-width: 80%;
        margin: 0 auto .3em auto;
    }
    @include bp($mama-bear) {
        margin-top: 3vh;
        margin-bottom: 20vh;
    }

 }

.btn-cluster {
    font-family: $comp-font;
    margin: 1em auto;
    text-align: center;
    .btn {
        min-width: 8em;
        margin-bottom: 1em;
    }
}

.portfolio-img {
    width: 100%;
    @include bp($kid-bear) {
        float: left;
    }

}

.portfolio-description {
    width: 100%;
}

.redesign {
    background-color: $white;
    color: $black;
    font-family: monospace;
    font-size: .9rem;
    padding: .5rem 1rem;
    text-align: center;

}










