body > svg:first-of-type {
  display: none;
}

.aside-icons {
  padding: 1em;
  a {
    display: inline-block;
    margin: 0.25em;
    &:first-child {
      margin-left: 0;
    }
  }
}

.icon {
  border: 2px solid $blue;
  border-radius: 50%;
  height: 40px;
  padding: 0.25em;
  width: 40px;
  transition: background-color 0.2s ease-in;
  @include bp($mama-bear) {
    border: 1px solid $white;
    height: 35px;
    width: 35px;
    &:hover {
      //border-color: $blue;
      background-color: $blue;
    }
  }
}

#phone g,
#email path,
#github path,
#twitter path,
#codepen path {
  fill: $blue;
  @include bp($mama-bear) {
    fill: $white;
  }
}

.metricslice > path {
  fill: $white;
}

.pie > path {
  fill: $white;
}

.logo svg {
  max-width: 200px;
}
