html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  background-color: $black;
  padding: 1rem;
  text-align: center;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1em;
  @include bp($mama-bear) {
    margin-top: 3vh;
  }
}

img {
  max-width: 100%;
  height: auto !important;
}

.portfolio .box a {
  border-bottom: none;
  h4,
  p {
    color: $sec-dark;
  }
}

.box {
  margin-bottom: 2rem;
  padding: 1rem;
}

.m-t-1 {
    margin-top: 1rem;
}

.m-t-5 {
  margin-top: 5rem;
}


.flex {
    display: flex;
    flex-direction: column;
    &__grow--1 {
        flex-grow: 1;
    }
}

.footer {
    align-items: center;
    background-color: #0071BC;
    display: flex;
    flex-wrap: wrap;
}
