html, body {
	width: 100%;
	min-height: 100vh;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	position: relative;
	@include bp($mama-bear) {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
}

.aside {
	background-color: rgba($yellow, .9);
	color: $blue;
	left: -100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	transition: left .2s ease-in-out;
	width: 100%;
	z-index: 1;
	@include bp($mama-bear) {
		background-color: rgba(0, 0, 0, .4);
		flex: 0 0 285px;
		left: 0;
		position: relative;
		width: auto;
	}
	&.active {
		left: 0;
	}
}

.wrapper {
	overflow: hidden;
	position: relative;
	@include bp($mama-bear) {
		min-height: 100vh;
		flex: 2 0 0%;
	}
}


.content {
	margin: 0 auto;
	max-width: 1200px;
	padding: 1em;
	padding-bottom: 150px; // so waves don't overlap
	@include bp($mama-bear) {
		margin-top: 10vh;
	}
}

img {
	max-width: 100%;
	height: auto!important;
}


.portfolio .box a {
	border-bottom: none;
	h4, p {
		color: $sec-dark;
	}
}


.contact {
	.me {
		background-image: url('../images/me.jpg');
		background-position: top center;
		background-size: 75%;
		background-repeat: no-repeat;
		min-height: 200px;
		@media (min-width: $baby-bear) {
		background-size: 50%;
		min-height: 300px;

		}	
		@media (min-width: $kid-bear) {
		background-size: 50%;
		min-height: 300px;

		}			
		@media (min-width: $mama-bear) {
			background-size: cover;
			height: 100%;
			min-height: 500px;

		}
	}
}


.box {
	padding: 1em;
}



